main .myblock-container > div {
  max-width: unset;
}

main .myblock-container {
  padding: 0;
}

.myblock {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.myblock h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: blue;
}

.myblock h2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: blueviolet;
}

.myblock picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.myblock img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
